doctype html
html
    head
        title= hashTag + ' - Tweet em tempo real'
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="/javascripts/script.js")
    body(background="http://frontinpoa.com.br/2014/images/about.jpg")
        .container
            .header
                h1= hashTag + ' - Tweet em tempo real'
                small Esta aplicação usa NodeJS + WebSockets para atualizar o cliente em tempo real.
                small
                    i
                        | Última atualização:
                        span(id="last-update") Nunca
            ul
