body
    color #333
    background-position center bottom
    background-repeat no-repeat
    background-attachment fixed

.header
    background-color #fff
    h1
        opacity 1
        text-align center
        margin-bottom 5px
    small
        opacity 1
        display block
        text-align center
        margin-top 10px

.container
    width 800px
    margin-left auto
    margin-right auto

a
    color rgb(136, 153, 166)
    text-decoration none

a:hover
    text-decoration underline

ul
    padding-top 20px
    border-top 1px solid #bbb
    margin-left 0
    padding-left 0

    li
        min-height 70px
        background-color #fff
        margin 10px 10px
        box-shadow 0 0 10px #666
        padding 10px
        text-overflow ellipsis
        list-style-type none
        box-sizing border-box
        font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
        font-size 14px
        line-height 18px

        .image
            float left

        .tweet
            margin-left 60px

        .screen_name
            display inline
            font-weight bolder

        .name
            display inline
            margin-left 6px
            color rgb(136, 153, 166)

        .created_at
            display inline
            float right
            color rgb(136, 153, 166)

        .text
            display block
